<?xml version="1.0"?>
<robot name="atom2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- - - - - - - - - - - - - - IMPORTANT NOTES - - - - - - - - - - - - 
    
    - base_link is joined to base_footprint
    - The rest of the links are joined to base_link
    
    - The structure of this document is as follows:
          
          - gazebo plugins:
                - gazebo_ros_control

          - atom2_base.urdf.xacro:
                    - base_footprint 
                    - base_link
                    - central_cube

          - rubber_wheel.urdf.xacro:
                  - rear_right_wheel_link
                  - rear_left_wheel_link
                  - front_right_wheel_link
                  - front_left_wheel_link

          - rplidar_A1M8.urdf.xacro
          - kinect.urdf.urdf.xacro
          - kinect_support.urdf.xacro
          - orbbec_astra.urdf.xacro
            
-->

<!-- - - - - - - - - - - - - - GLOBAL ARGUMENTS - - - - - - - - - - - - - -->

  <xacro:arg name="robot_id"          default="atom2" />  
  <xacro:arg name="use_rplidar_A1M8"  default="true" />
  <xacro:arg name="use_orbbec_astra"  default="true" />
  <xacro:arg name="use_kinect"        default="true" /> 
  <xacro:arg name="use_vx300_arm"     default="true" /> 
  <xacro:arg name="use_central_cube"  default="true" />

  <xacro:arg name="base_footprint"    default="$(arg robot_id)_base_footprint" />
  <xacro:arg name="base_link"         default="$(arg robot_id)_base_link" />


<!-- - - - - - - - - - - - - - XACRO INCLUDES - - - - - - - - - - - - - -->


  <!-- Import atom2 base elements -->
  <xacro:include filename="$(find atom2_description)/urdf/bases/atom2_base.urdf.xacro" />

  <!-- Import atom2 wheels -->
  <xacro:include filename="$(find atom2_description)/urdf/wheels/rubber_wheel.urdf.xacro" />

  <!-- Import atom2 accessories: rplidar A1M8 -->
  <xacro:include filename="$(find atom2_description)/urdf/accesories/rplidar_A1M8.urdf.xacro" />

  <!-- Import atom2 accessories: kinect camera -->
  <xacro:include filename="$(find atom2_description)/urdf/accesories/kinect.urdf.xacro" />

  <!-- Import atom2 accessories: kinect support accesory -->
  <xacro:include filename="$(find atom2_description)/urdf/accesories/kinect_support.urdf.xacro" />

  <!-- Import atom2 accessories: orbbec astra camera -->
  <xacro:include filename="$(find atom2_description)/urdf/accesories/orbbec_astra.urdf.xacro" />


<!-- - - - - - - - - - - - - - GENERAL GAZEBO PLUGINS - - - - - - - - - - -->


  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS> 
    </plugin>
  </gazebo>


<!-- - - - - - - - - - - - - - - BASE DEFINITION  - - - - - - - - - - - - - -->

 
  <!-- base_footprint definition -->
  <xacro:base_footprint link_name = "$(arg base_footprint)"/>

  <!-- base_link definition -->
  <xacro:base_link link_name = "$(arg base_link)" />

  <!-- footprint to base joint -->
  <xacro:base_footprint_joint prefix = "$(arg robot_id)" parent ="$(arg base_footprint)" child = "$(arg base_link)" >
    <origin xyz="0 0 0.213" rpy="0 0 0" />
  </xacro:base_footprint_joint>

  <!-- Cube placed in the rotational center of the robot for debug purposes -->
  <xacro:if value="$(arg use_central_cube)">
    <xacro:central_cube prefix="$(arg robot_id)" parent ="$(arg base_link)" />
  </xacro:if>
 
 

<!-- - - - - - - - - - - - - - WHEELS DEFINITION  - - - - - - - - - - - - - -->


  <!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.14799" />   
	<xacro:property name="wheel_offset_y" value="0.1575" />
	<xacro:property name="wheel_offset_z" value="0.10549" />

  <!-- The "prefix" param must end in "right" or "left" to differentiate the wheels in "rubber_wheel" xacro file -->
  <xacro:rubber_wheel prefix="$(arg robot_id)_rear_right" parent ="$(arg base_link)">
  	<origin xyz="-${wheel_offset_x} -${wheel_offset_y} -${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>

  <xacro:rubber_wheel prefix="$(arg robot_id)_rear_left" parent ="$(arg base_link)">
  	<origin xyz="-${wheel_offset_x} ${wheel_offset_y} -${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>

  <xacro:rubber_wheel prefix="$(arg robot_id)_front_right" parent ="$(arg base_link)">
  	<origin xyz="${wheel_offset_x} -${wheel_offset_y} -${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>

  <xacro:rubber_wheel prefix="$(arg robot_id)_front_left" parent ="$(arg base_link)">
  	<origin xyz="${wheel_offset_x} ${wheel_offset_y} -${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>
 


<!-- - - - - - - - - - - - - - ACCESORIES DEFINITION  - - - - - - - - - - - - - -->
 

  <!-- rplidar A1M8 lidar sensor -->
  <xacro:if value="$(arg use_rplidar_A1M8)">

    <xacro:sensor_rplidar_A1M8 prefix="$(arg robot_id)_rplidar_A1M8" parent ="$(arg base_link)">
      <origin xyz="0.09286 0 0.28275" rpy="0 0 0"/>
    </xacro:sensor_rplidar_A1M8>

  </xacro:if>


  <!-- kinect camera with support structure -->
  <xacro:if value="$(arg use_kinect)">

    <xacro:sensor_kinect prefix="$(arg robot_id)_kinect" parent ="$(arg base_link)">
      <origin xyz="-0.22247 0 0.68823" rpy="0 0 0"/>
    </xacro:sensor_kinect>

    <xacro:structure_kinect_support prefix="$(arg robot_id)_kinect_support" parent ="$(arg base_link)">
      <origin xyz="-0.23 0 0.24" rpy="0 0 0"/>
    </xacro:structure_kinect_support>

  </xacro:if>


  <!-- orbbec astra camera sensor -->
  <xacro:if value="$(arg use_orbbec_astra)">
    
    <xacro:sensor_orbbec_astra prefix="$(arg robot_id)_orbbec_astra" parent ="$(arg base_link)">
      <origin xyz="0.31938 0 0.08801" rpy="0 0 0"/>
    </xacro:sensor_orbbec_astra>
  
  </xacro:if>

 
<!-- - - - - - - - - - - - - - VX300 ARM IMPLEMENTATION  - - - - - - - - - - - - - -->

<xacro:if value="$(arg use_vx300_arm)">

  <xacro:include filename="$(find atom2_description)/urdf/accesories/vx300_arm.urdf.xacro" />

  <xacro:vx300_arm parent="$(arg base_link)">
      <origin xyz="-0.05 0 0.24" rpy="0 0 0" />
  </xacro:vx300_arm>

</xacro:if>


</robot>


