<?xml version="1.0"?>
<launch>

	<!-- - - - - - - - - - - -  GENERAL ARGUMENTS - - - - - - - - - - -->

	<!-- Robot properties -->
	<arg name="robot_id"		 default="atom2" />
	<arg name="base_footprint"   default="$(arg robot_id)_base_footprint" />	
	<arg name="base_link"		 default="$(arg robot_id)_base_link" 	  />	
	<arg name="odom"			 default="$(arg robot_id)_odom" 		  />

	<!-- Robot world -->
	<arg name="x_spawn_robot"    default="0" />
	<arg name="y_spawn_robot"    default="0" />
	<arg name="z_spawn_robot"    default="0" />

	<!-- Robot accesories -->
	<arg name="use_rplidar_A1M8" default="false" />
	<arg name="use_orbbec_astra" default="false" />
	<arg name="use_kinect" 		 default="false" />
	<arg name="use_vx300_arm"	 default="false" />
	<arg name="use_central_cube" default="false" />

 	

	<group ns="$(arg robot_id)">

		<!-- Load the URDF into the ROS Parameter Server -->
		<arg name="xacro_robot" default="$(find atom2_description)/robots/atom2_std.urdf.xacro" />
		<param name="robot_description" command="$(find xacro)/xacro '$(arg xacro_robot)'  --inorder
				robot_id:=$(arg robot_id)
				base_footprint:=$(arg base_footprint)
				base_link:=$(arg base_link)
				use_rplidar_A1M8:=$(arg use_rplidar_A1M8) 
				use_orbbec_astra:=$(arg use_orbbec_astra)
				use_kinect:=$(arg use_kinect)
				use_vx300_arm:=$(arg use_vx300_arm)
				use_central_cube:=$(arg use_central_cube)
		"/>
		
		<!-- Spawner model into gazebo -->
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
			args="-urdf -x $(arg x_spawn_robot) -y $(arg y_spawn_robot) -z $(arg z_spawn_robot)
					-J waist 1.57
					-J shoulder -1.55
					-J elbow -1.55
					-J wrist_angle 0.05
				-model $(arg robot_id) -param robot_description"/>


		<!-- Start joystick pad -->
		<include file="$(find roboticarts_pad)/launch/roboticarts_pad.launch">

			<!-- Topic name -->
			<arg name="cmd_vel"		 value="pad_teleop/cmd_vel"    />

		</include>


		<!-- Robot state publisher -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 
			respawn="false" output="screen" />
		

		<!-- start atom2_control node -->
		<include file="$(find atom2_control)/launch/atom2_control.launch">

			<!-- Robot properties -->
			<arg name="robot_id"		 value="$(arg robot_id)" 	   />
			<arg name="base_footprint"   value="$(arg base_footprint)" />	
			<arg name="base_link"		 value="$(arg base_link)" 	   />	
			<arg name="odom"			 value="$(arg odom)" 		   />

			<!-- Robot accesories -->
			<arg name="use_vx300_arm"	 value="$(arg use_vx300_arm)"/>

		</include>

	</group> 

</launch>